body {
  margin: 0;
  padding: 0;

  
}

.App  {
  font-size: 90px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.App div{
  margin-top: 10%;
  padding: 5px;
  background-color: cadetblue;
  border-radius: 20px;
}

.loginpage{
  font-size: 30px;
}